<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security.xsd
">

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="dataSource" 
                                        users-by-username-query="select username, password, 
                enabled from user where username=?" 
                                        authorities-by-username-query="select username, role from user 
                    where username =?"/>
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>    
    </security:authentication-manager>
    
    <security:http auto-config="false" use-expressions="true"
                   entry-point-ref="loginUrlAuthenticationEntryPoint">
        <security:custom-filter ref="customUsernamePasswordAuthenticationFilter" after="FORM_LOGIN_FILTER"/>
        <security:csrf disabled="true"/>
        <security:intercept-url pattern="/customer/*" 
                                access="hasAnyRole('ROLE_USER,ROLE_ADMIN')"/>
        <security:intercept-url pattern="/downloadPDF/*" 
                                access="hasAnyRole('ROLE_USER,ROLE_ADMIN')"/>
        <security:intercept-url pattern="/admin/*" 
                                access="hasRole('ROLE_ADMIN')"/>
 
        <security:access-denied-handler error-page="/login"/>
        <security:logout logout-url="/logout"
                         invalidate-session="true"
                         logout-success-url="/login?logout=true"/>
    </security:http>
    
    <bean id="loginUrlAuthenticationEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg value="/login"/>
    </bean>
    
    <bean id="customUsernamePasswordAuthenticationFilter"
          class="com.ebanking.security.CustomUsernamePasswordAuthenticationFilter">
        <property name="filterProcessesUrl" value="/j_spring_security_check" />
        <property name="authenticationFailureHandler" ref="failureHandler"/>
        <property name="authenticationSuccessHandler" ref="myAuthenticationSuccessHandler"/>
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>
 
    <bean id="myAuthenticationSuccessHandler"
          class="com.ebanking.security.MySimpleUrlAuthenticationSuccessHandler" />
 
    <bean id="failureHandler"
          class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/login?error=true"/>
    </bean>
    
    
    <!--    <security:http auto-config="true">
        <security:csrf disabled="true"/>
        <security:form-login login-page="/login" 
                             login-processing-url="/j_spring_security_check"
                             authentication-success-handler-ref="myAuthenticationSuccessHandler"
                             username-parameter="username" password-parameter="password"
                             
        />
        <security:intercept-url pattern="/customer/*" 
                                access="hasAnyRole('ROLE_USER,ROLE_ADMIN')"/>
        <security:intercept-url pattern="/admin/*" 
                                access="hasRole('ROLE_ADMIN')"/>
    </security:http>  
    
    <bean id="myAuthenticationSuccessHandler"
              class="com.ebanking.security.MySimpleUrlAuthenticationSuccessHandler" />
    -->
    <bean id="passwordEncoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <constructor-arg name="strength" value="10" />
    </bean>
    
</beans>
